click==8.1.3
colorama==0.4.6
distlib==0.3.7
EasyProcess==1.1
entrypoint2==1.1
filelock==3.12.2
MouseInfo==0.1.3
mss==9.0.1
mysql-connector-python==8.1.0
numpy==1.24.3
opencv-contrib-python==4.7.0.72
Pillow==9.5.0
platformdirs==3.9.1
protobuf==4.21.12
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dotenv==1.0.0
pytweening==1.0.7
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
virtualenv==20.24.0
